*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}

section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}

body{

    background-color: #000000;
    /* min-width: 1366px; */
    overflow: auto;
    user-select: none;
    overflow-x: hidden;

}
body:hover{

    cursor: pointer;
}

body::-webkit-scrollbar {
  /* display: none; */
}

.outer1{

    height: 100vh;
    width: 100vw;
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.outer1>.Didial{

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 250px;
    padding: 40px; 

}

.Didial>.inner{

    width: 100%;
    height: 50%;
    position: relative;
}

.outer1>.image{

    width: 55%;
    height: 100%;
    /* flex: 1 1 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    padding: 40px;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%)
}

.image>nav{

    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 120px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 60px;
    top: 0;
}

nav>button{

    width: 14%;
    height: 45%;
    border-radius: 20px;
    border: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 65%;
    text-transform: capitalize;
    background-color: black;
    color: #d7d7d7;
    margin-top: 55px;
    box-shadow: 1px 1px 2px #d6d5d5; 
    transition: transform 0.5s ease;
    /* border: 1px solid white; */
    
}

nav>button:hover{

    background-color: #d7d7d7;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
    /* border: 1px solid black; */
}

.image>img{

    width: 60%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.inner>.Hii{
    width: 50%;
    height: 9%;
    margin-bottom: 9%;
}

.Hii>h2{

    font-size: xx-large;
    font-weight: bold;
    font-style: normal;   
}

.inner>.name{

    width: 100%;
    height: 20%;
}

.name>h1{

    font-size: 4lvw;
    font-weight: bold;
}

.name>p{

    letter-spacing: 2px;
    margin-left: 10px;
}

.inner>.linkes{

    width: 40%;
    height: 4%;
    display: grid;
    grid-template-rows: 40% ,40%,40%,40%;
    grid-template-columns: 30px 30px 30px 30px;
    gap: 50px;
    position: absolute;
    bottom: 15%;
    padding: 10px;
}

.linkes>.link{

    width: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgb(65, 61, 61);
    padding: 10%;
    background-color: #d6d5d5;
    transition: transform 0.5s ease;
}
.link>img{

    width: 100%;
    height: 100%;
}

.link:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.readme{

    width: 100%;
    background-color: black;
    padding: 50px;
}

.readme>h1{

    color: #d6d5d5;
    margin-bottom: 3%;
    font-size: 170%;
    font-weight: 550;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 10%;
}

.readme>p{
    color: #d6d5d5;
    font-size: 85%;
    word-spacing: 3px;
    margin-bottom: 20px;
    text-align: justify;
    overflow: hidden;
     max-height: 3.6em;
    transition: max-height 1s ease;
}

.readme > p.expand {
    max-height: 500px;
}

.readme>button{

    width: 10%;
    height: 2rem;
    font-size: 60%;
    font-weight: bold;
    text-transform: uppercase;
    color: #d6d5d5;
    background-color: black;
    border: 0;
    border-left: 3px solid #d6d5d5;
    border-right: 3px solid #d6d5d5;
    transition: transform 0.5s ease;
    border-radius: 10px;

}

.readme>button:hover{

    transform: scale(1.1);
    background-color: #d6d5d5;
    color: #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;

}

.Aboute{

    height: 150vh;
    width: 100%;
     background: radial-gradient(circle, rgb(238, 238, 238) 3%, #d6d5d5 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Aboute>.topic{
    width: 15%;
    height: 8%;
    border: 3px  solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9%;
    padding: 10px;
}

.topic>h1{

    font-size: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
}
.Aboute>.para{
    width: 70%;
    height: 15%;
    position: relative;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para>p{

    line-height: 1.8;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
}

p>#center{

    font-size: 50px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-transform: capitalize;
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-left: 10%;

}
.Aboute>.Explore{

    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
   border-left: 2px solid black;
   border-right: 2px solid black;
   margin-bottom: 4%;
}
.Explore>h1{

    font-size: 120%;
    font-weight: 600;
    text-transform: uppercase;
}

.Aboute>.myAbout{

    width: 100%;
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32%;
    margin-left: 3%;

}

.myAbout>.DESIGN{

    width: 25%;
    height: 90%;
    padding: 2%;
    border-radius: 20px;
    background-image: url("");
}
.DESIGN>h3{

    color:  black;
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.DESIGN>p{

    color: black;
    font-weight: 500;
    font-style: normal;
    word-spacing: 2px;
    text-align: justify;
}

.myAbout>.Develapment{

    width: 25%;
    height: 90%;
    padding: 2%;
}

.Develapment>h3{

    color: black;
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 15px;
    
}

.Develapment>p{

    font-weight: 500;
    font-style: normal;
    word-spacing: 2px;
    color: black;
    text-align: justify;

}

.Aboute>.MAINTENANCE{

    width: 30%;
    height: 25%;
    padding: 2%;
    padding-left: 6%;
    position: absolute;
    bottom: 0;
}
.MAINTENANCE>h3{

    color: black;
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.MAINTENANCE>p{

    font-weight: 500;
    font-style: normal;
    word-spacing: 2px;
    color: black;
    text-align: justify;
}

.Aboute>.logo{

    position: absolute;
    bottom: 0;
}

/*Ejucation***********************************/
.Ejucation{

    width: 100%;
    height: 150vh;
    background: radial-gradient(circle, rgb(238, 238, 238) 3%, #d6d5d5 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Ejucation>.topic{

    position: absolute;
    top: 8%;
    border: 3px solid black;
    width: 23%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic>h1{

    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
}

.Ejucation>.about{

    width: 80%;
    height: 10%;
    position: relative;
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.about>p{

    color: black;
    font-weight: 300;
    font-style: normal;
    word-spacing: 2px;
    text-align: justify;
    /* font-size: 80%; */
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

p>#center{

    color: black;
    font-weight: 300;
    word-spacing: 2px;
    text-align: justify;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;


}

.Ejucation>.Dissition{

     width: 13%;
     display: flex;
     justify-content: center;
     align-items: center;
     border-left: 2px solid black;
     border-right: 2px solid black;
     margin-bottom: 5%;
}

.Dissition>h1{

    font-size: 120%;
    font-weight: 600;
    text-transform: uppercase;
}


.Ejucation>.Education1{

    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34%;
    margin-bottom: 3%;
    margin-left: 4%;

}

.Education1>.Schol{

    width: 30%;
    height: 90%;
    padding: 2%;
    border-radius: 20px;
    background-image: url("");
}

.Schol>h3{

    color:  black;
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 15px;

}

.Schol>p{

    color: black;
    font-weight: 300;
    font-style: normal;
    word-spacing: 2px;
    text-align: justify;
    font-size: 80%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif

}

.Education1>.college{

    width: 30%;
    height: 90%;
    padding: 2%;
    border-radius: 20px;
    background-image: url("");
}

.college>h3{
    color:  black;
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.college>p{

    color: black;
    font-weight: 300;
    font-style: normal;
    word-spacing: 2px;
    text-align: justify;
    font-size: 80%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif
}

.Ejucation>.Additional{

    width: 30%;
    height: 30%;
    padding: 2%;
    padding-left: 6%;
    position: absolute;
    top: 75%;

}

.Additional>h3{

    color:  black;
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 15px;

}

.Additional>p{

    color: black;
    font-weight: 300;
    font-style: normal;
    word-spacing: 2px;
    text-align: justify;
    font-size: 80%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif
}

p>a{
    text-decoration: none;
    color:  #000000;
    background-color: rgba(0, 0, 0, 0.222);
    border: 1px solid rgba(0, 0, 0, 0.222);
    font-weight: 550;
    
}

/* this is Skills section */

.Skils{

    width: 100%;
    height: 150vh;
    background: radial-gradient(circle, rgb(238, 238, 238) 3%, #d6d5d5 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.Skils>.topic{
    position: absolute;
    top: 6%;
    border: 3px solid black;
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic>h1{
    font-size: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
}

.Skils>.Unising{

    width: 70%;
    height: 45%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-bottom: 12%;
    gap: 10%;
}

.Unising>.skill{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.use>h2{
    font-size: 150%;
    font-weight: 550;
    margin-left: 10%;
    position: absolute;
    bottom: 73%;
    left: 11%;
    bottom: 74%;
}

.skill>img{

    width: 40%;
    height: 60%;
}

.skill>p{

    font-size: 110%;
    font-weight: 700;
    font-style: oblique;
}

#skil1{

    grid-column: span 3;
}

.Skils>.Learnig{

    height: 15%;
    width: 70%;
    position: absolute;
    top: 80%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
   
}

.Learnig>h2{

    font-size: 150%;
    font-weight: 550;
    margin-left: 10%;
    position: absolute;
    bottom: 110%;
    bottom: 120%;
    right: 82%;
}

.Learnig>.learning1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.learning1>img{

    width: 40%;
    height: 60%;
}

.learning1>p{

    font-size: 100%;
    font-weight: 700;
    font-style: oblique;

}





/* this is for the Contact */

.Contect{

    width: 100%;
    height: 140vh;
    background: radial-gradient(circle, rgb(238, 238, 238) 3%, #d6d5d5 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.Contect>.topic{

    width: 14%;
    height: 8%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 85%;
}

.topic>h2{

     letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
}


.Contect>.para{

    
    width: 70%;
    height: 10%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 20px;
}
.para>p{

    color: black;
    font-weight: 400;
    font-style: normal;
    word-spacing: 2px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

p>#center{

    color: black;
    font-weight: 400;
    font-style: normal;
    word-spacing: 2px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;

}

.Contect>.form{

    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form>form{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>input{

    width: 70%;
    height: 10%;
    border: 0;
    background-color: transparent;
    border-left: 5px solid rgb(67, 65, 65);
    border-bottom: 5px solid rgb(70, 68, 68);
    border-right: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: 550;
    padding: 10px;
    padding-left: 13%;
    letter-spacing: 2px;
}

form>textarea{

    width: 75%;
    height: 25%;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
    padding: 10%;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    resize: both;     
    overflow: auto; 

}

textarea::-webkit-scrollbar {
  display: none;
}


form>button{

    width: 30%;
    height: 10%;
    background-color: transparent;
    border: 0;
    border-left: 4px solid black;
    border-right: 5px solid black;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 60%;
    box-shadow: 4px 4px 6px #d6d5d5;
    transition: transform 0.5s ease;
    border-radius: 20px;
}
button:hover{

    transform: scale(1.2);
}



.Contact1{

    width: 100%;
    height: 200px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Contact1>.back{

    width: 7%;
    height: 40px;
    margin-bottom: 2%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d6d5d5;
    border-radius: 30px;
    box-shadow: 4px 4px 6px #d6d5d5;
    transition: transform 0.5s ease;

}

.back:hover{

    transform: scale(1.2);
}

.back>img{

    height: 45%;
    width: 30%;
}

.back>h3{

    color: #000000;
    font-size: large;
    font-weight: bold;
}

.Contact1>.imga{

    background-color: black;
    width: 30%;
    height: 25%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.imga>.img1{

    width: 10%;
    height: 90%;
    background-color: #d6d5d5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.img2{
    width: 10%;
    height: 90%;
    background-color: #d6d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.img3{
    width: 10%;
    height: 90%;
    background-color: #d6d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.img4{
    width: 10%;
    height: 90%;
    background-color: #d6d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

#img{
    box-shadow: 4px 4px 6px #d6d5d5;
    transition: transform 0.5s ease;
}

#img:hover{

    transform: scale(1.2);
}

.img1>img{
    width: 80%;
    height: 80%;
}
.img2>img{
    width: 80%;
    height: 80%;
}
.img3>img{
    width: 80%;
    height: 80%;
}
.img4>img{
    width: 80%;
    height: 80%;
}



/* Mobile Dissaing */


@media (max-width: 480px){

    .outer1{

        width: 100vw;
    }

    .nave{

        width: 100%;
    }
    .nave>button{

        width: 10%;
    }

    .readme{

        width: 100vw;
    }

    .Aboute{

        width: 100vw;
    }

    .Ejucation{
        width: 100vw;
    }


}











